*{
    margin: 0 ;
    padding: 0 ;
}

.contenedor-grid {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-gap: 12px;
    grid-template-areas: ". header header header header header header header header header header ."
    ". main main main main main main main aside aside aside ."
    ". section section section section section section section aside aside aside ."
    ". footer footer footer footer footer footer footer footer footer footer ." ; 
}
.header{
    grid-area: header;
    border:solid 1px;
    height: 200px;
}
main{
    grid-area: main;
    border: solid 1px;
    height: 400px;
}
aside{
    grid-area: aside;
    border:solid 1px;
    height: auto;
    
}
.section{
    grid-area: section;
    border:solid 1px;
    height: 400px;

}
.footer{
    grid-area: footer;
    border: solid 1px;
    height: 150px;
}


h1{
 text-align: center;
 margin: 50px 50px 50px 50px;
}


